<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fyt.business.mapper.CustomerBusiMapper">
    <insert id="testInsert"  parameterType="java.util.Map">
      insert into fyt_user(name)
      values(#{name});

    </insert>

    <update id="testUpdate"  parameterType="java.util.Map">
      update fyt_user
      set name = #{name}
      where id = #{id}
    </update>


    <select id="testSelect" parameterType="java.util.Map" resultType="java.util.Map">
        select * from fyt_user
    </select>

    <select id="menuSelect" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT menu_id,menu_name,menu_location,menu_lastid,menu_lastname,menu_state from menu where menu_delete=1
        <if test="menu_name != null and menu_name !=''">
            and  menu_name like concat('%',#{menu_name},'%')
        </if>
        <if test="menu_lastid != null and menu_lastid != ''">
            and  menu_lastid = #{menu_lastid}
        </if>
        <if test="menu_id !=null and menu_id !=''">
            and menu_id =#{menu_id}
        </if>
        ORDER BY menu_lastid
    </select>

    <insert id="menuInsert" parameterType="java.util.Map">
        INSERT into menu(menu_name,menu_lastid,menu_lastname,menu_location,menu_state,menu_delete) VALUES(#{menu_name},#{menu_lastid},#{menu_lastname},#{menu_location},#{menu_state},1)
    </insert>

    <update id="menuUpdata" parameterType="java.util.Map">
        UPDATE menu set menu_name =#{menu_name},menu_location=#{menu_location},menu_state=#{menu_state},menu_lastid=#{menu_lastid},menu_lastname=#{menu_lastname} where menu_id=#{menu_id}
    </update>

    <update id="menuDelete" parameterType="java.util.Map">
        UPDATE menu set menu_delete = 0 where menu_id = #{menu_id} or menu_lastid =#{menu_id}
    </update>

    <select id="selectId" parameterType="String" resultType="int">
        Select menu_id from menu where menu_name =#{menu_lastname}
    </select>

    <select id="selectMenuName" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT menu_name from menu where menu_delete=1 and menu_lastid = -1 ORDER BY menu_id
    </select>
</mapper>