<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        ">
    <!--
    <bean id="userConsumer" class="fyt.business.core.manager.rocketmq.user.UserConsumer"
        init-method="init" destroy-method="destroy">
        <property name="consumerGroup" value="${rocketmq.consumerGroup}"/>
        <property name="namesrvAddr" value="${rocketmq.namesrvAddr}"/>
        <property name="topic" value="${rocketmq.user.topic}"/>
        <property name="tags" value="${rocketmq.user.tags}"/>
    </bean>

    <bean id="rocketMqTransConsumer" class="fyt.business.core.manager.rocketmq.RocketMqTransConsumer"
          init-method="initData" destroy-method="destroy">
        <property name="transGroup" value="${rocketmq.transConsumerGroup}"/>
        <property name="namesrvAddr" value="${rocketmq.namesrvAddr}"/>
        <property name="topic" value="${rocketmq.trans.topic}"/>
        <property name="tags" value="${rocketmq.trans.tags}"/>
    </bean>
    -->

</beans>